.products {

  &__results {
    font-size: 12px;

    &-red {
      color: red;
    }
  }

  .col-left, &__col {
    border-radius: $border-radius;
  }


  &__box {
    border-radius: $border-radius;
    width: 30%;
  }

  .list-group-item {
    padding: 7px 0;

  }

  .accordion-item {
    border: none;
  }

  .accordion-header {
    color: #2268B4;
  }

  .list-group-item {
    border: none;
  }

  &__name {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 17px;
  }

  &__price {
    font-size: 17px;
  }

  &__img {
    width: 100%;
  }

  .tag-new, .tag-teams, .tag-best {
    position: relative;
  }

  .tag-new:before {
    position: absolute;
    content: '';
    width: 56px;
    height: 26px;
    right: 10px;
    top: 10px;
    background-image: url("../assets/tag-new.svg");
  }

  .tag-best:before {
    position: absolute;
    content: '';
    width: 56px;
    height: 26px;
    right: 10px;
    top: 10px;
    background-image: url("../assets/tag-best.svg");
  }

  .tag-teams:after {
    position: absolute;
    content: '';
    width: 56px;
    height: 26px;
    right: 10px;
    top: 40px;
    background-image: url("../assets/tag-teams.svg");
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .7s;
  }

  &__slide:hover &__overlay {
    width: 100%;
    left: 0;
  }


  &__slide:hover &__image-first {
    transition: .7s;
    transform: translate(-100%, 0);
    opacity: 0;
  }

  &__slide {
    position: relative;
    overflow: hidden;
  }

  &__two-image img {
    width: 316px;
  }

  &__two-image {
    position: absolute;
    top: 50%;
    right: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}