:root {
  --bs-link-color: black;

}

.navbar {
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}

.accordion {
  --bs-accordion-active-bg: none;
  --bs-accordion-border-width: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-body-padding-y: 0;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-padding-x: 0;


  .list-group-item {
    --bs-list-group-border-width: 0;
    --bs-list-group-border-color: none;
    --bs-list-group-item-padding-x: 0;
  }

}


$font-family-main: 'Lato', sans-serif;


$header-icons-size: 16px;
$header-right-icons-size: 22px;

$font-title: 28px;
$font-md: 15px;
$font-sm: 13px;

$main-bg: #F4F4F4;
$accent-color: #99C63C;
$border-radius: 16px;
$transition: .3s