:root {
  --bs-link-color: black;
}

.navbar {
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}


$font-family-main: 'Lato', sans-serif;


$header-icons-size: 16px;
$header-right-icons-size: 22px;

$font-title: 28px;
$font-md: 15px;
$font-sm: 13px;

$main-bg: #F4F4F4;
$accent-color: #99C63C;
$border-radius: 16px;
$transition: .3s